@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 16px/1.75 $roboto;

    &.no-scroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    color: #fff;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

section {
    padding: 65px 0;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;

    @include screen(740) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.col-33 {
    width: 33%;
}

.col-50 {
    width: 50%;
}

.html {
    background: #e10964;
}

.css {
    background: #10c6fc;
}

.webpack {
    background: #088bb2;
}

.git {
    background: #cf3e9a;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font: 700 40px/1.75 'Raleway', sans-serif;

    @include screen(740) {
        font-size: 25px;
    }
}

.title-26 {
    font: 700 26px/2 $raleway;
    color: $white;
    letter-spacing: 1px;
}

.title-18 {
    font: 700 18px/2 $roboto;
    color: $white;
    letter-spacing: 1px;

    @include screen(650) {
        font-size: 16px;
    }
}

.title-16 {
    font: 500 16px/2 $roboto;
    color: #d7d8dd;
}

.underline:after {
    content: '';
    position: absolute;
    left: calc(100% - 94%);
    bottom: 15px;
    width: 82%;
    height: 2px;
    background: #b5b6bf;
}

.img-normal {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: 50% 50%!important;
    width: 100%!important;
    height: 100%!important;
}

.box {
    width: 98%;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    padding: 60px 45px;
    display: flex;
    flex-direction: column;
}