.experience {
	display: flex;
	opacity: .8;

	.title {
		color:$white;
	}

	@include screen(800) {
		&__work {
			width: 100%!important;
		}

		.container {
			flex-direction: column;
		}

		&__work-experience {
			width: 100%;
			padding: 20px;

			@include screen (780) {
				padding: 0 70px 0;
			}

			@include screen (600) {
				padding: 0 15px 0;
			}

			.title-26 {
				display: flex;
				justify-content: center;
			}
		}

		.title-26 {
			@include screen (780) {
				font-size: 20px;
			}
		}

		&__education {
			width: 100%;
			padding: 20px;

			@include screen (780) {
				padding: 5px 70px 0;
			}

			@include screen (600) {
				padding: 5px 15px 0;
			}

			.title-26 {
				display: flex;
				justify-content: center;

				@include screen (780) {
					font-size: 20px;
				}
			}
		}
	}

	&__work	{
		width: 98%;
		background: rgba(255,255,255,0.1);
		backdrop-filter: blur(12px);
    	padding: 35px 45px;
    	margin-top: 1%;
    	border-radius: 5px 15px;
    	position: relative;

    	.title-26 {
    		margin-bottom: 30px;

    		@include screen (780) {
				margin-bottom: 20px;
			}
    	}

    	p {
    		color: #b5b6bf;
    	}
	}
}